.hero-list{
  list-style: none;
}
.hero-list li{
  line-height:45px;
  border-radius: 6px;
  overflow: hidden;
  background-color:#eee;
}
.hero-list label{
  background: #607d88;
  color: #fff;
  padding: 8px;
}
